# Compiled class file
*.class

# Gradle
.gradle/
build/
**/build/

# Fabric development runs
run/
**/run/

# IDEs
.idea/
*.iml
.vscode/

# Log file
*.log
*.log.gz

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!/gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Local release publishing
/release-jars/
/scripts/release-secrets.local.env
/scripts/.release-state.json
/scripts/.release-state.json.tmp
__pycache__/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/docs
/Fabric-1.21.1/src/test/**
!/Fabric-1.21.1/src/test/**/
!/Fabric-1.21.1/src/test/java/eu/avalanche7/paradigmrealms/platform/wilds/WildsBootContextTest.java
!/Fabric-1.21.1/src/test/java/eu/avalanche7/paradigmrealms/platform/backup/FabricBackupCatalogServiceTest.java
!/Fabric-1.21.1/src/test/java/eu/avalanche7/paradigmrealms/platform/backup/FabricRestoreCoordinatorTest.java
/common/src/test/**
!/common/src/test/**/
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/BackupCaptureTaskTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/BackupCatalogRebuildTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/RollbackBackupRequestTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/RestoreRecoveryPolicyTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/BackupArchiveTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/BackupManifestTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/wilds/WildsDisableTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/wilds/WildsRtpCoordinatorTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/application/RealmTeleportEntryTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/wilds/WildsSpawnResolverTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/TestFixtures.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/application/RealmOwnershipTransferServiceTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/io/RestoreManifestFileTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/backup/offline/RealmBackupRestoreToolTest.java
/validation
/common/src/test

!/common/src/test/
/common/src/test/**
!/common/src/test/**/
!/common/src/test/java/eu/avalanche7/paradigmrealms/application/RealmVisitReturnPointsTest.java
!/common/src/test/java/eu/avalanche7/paradigmrealms/application/RealmListingAccessTest.java
/common/src/test
